/* Style Settings 
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
*/
@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bgColor:#1C1C1C;
    --accentColor: #E6E6E6;
    --font: 'open_sansregular', sans-serif;
}

body {
  /* Location of the image */
  background-image: url(bg.png);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: var(--accentColor);

  /*
  animation: zoomEffect 20s infinite alternate;
  */
  
  /*Double animation settings*/
  animation-name: bgenter, zoomEffect;
  animation-duration: 0.5s, 15s;
  animation-timing-function: linear, linear;
  animation-delay: 0s, 0.5s;
  animation-iteration-count: 1, infinite;
  animation-direction: alternate, alternate;

}

@keyframes bgenter {
0% {
    background-size: 50% 50%;
  }
  100% {
    background-size: 100% 100%;
  }
}

@keyframes zoomEffect {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 115% 115%;
  }
}

#userPhoto{
    width: 120px;
    height: 120px;
    display: block;
    margin: 35px auto 20px;

	border: 10px solid rgba(0, 0, 0, 0.25);
	border-radius: 50%;
}

#userName{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    /*line-height: 2;	*/
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 25px auto;
}
.link{
    display: block;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 16.5px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2.5px;
	font-weight: bold;
}
.link:hover{
    background-color: var(--bgColor);
    color: var(--accentColor);
}